html {
    scroll-behavior: smooth;
}

.bg-container {
    /*background-image: linear-gradient(to bottom right, black, darkblue);*/
    background: linear-gradient(55deg, black, darkblue);
    height: 3500px;
}

#header {
    padding-top: 60px; /* Add padding to push header below the navbar */
}

#scrollspyHeading1 {
    height: 1000px;
}

#scrollspyHeading2 {
    height: 1000px;
}

#scrollspyHeading3 {
    height: 1000px;
}